body{
 background: linear-gradient(135deg, #00d4ff, #00ff88);
  

}
.login-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}
#bg-animation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* background il aakum */
}

/* login box */
.login-box{
background:white;
padding:30px;
border-radius:15px;
width: 354px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
height: 523px;
}
.login-box input{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 24px;
    width: 294px;
    margin: 29px;
    height: 35px;
    border-color: #00d4ff;
    padding: 0px 10px 8px 22px;
}
.login-box button{
    background:   linear-gradient(135deg, #00d4ff, #00ff88);
  color: #fff;
  border-radius: 25px;
  width: 100px;
  height: 45px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.logo img{
  height: 283px;
  width: 365px;
  margin-left: -100px;
  margin-top: -27px;;
}

